<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Users\sgandewar\Documents\Visual Studio 2012\Projects\iHandy\Deploy\WebApp\iHandy.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationServices" Order="1" Enabled="False">
          <Destination Path="Data Source=hhdbinstance.cejvyqrfavki.us-west-2.rds.amazonaws.com,1433;Initial Catalog=HandyBackOffice;User ID=HappyHutUser;Password=HappyHutUser" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=USHYDSGANDEWAR1\SQLEXPRESS;Initial Catalog=HandyBackOffice;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=USHYDSGANDEWAR1\SQLEXPRESS;Initial Catalog=HandyBackOffice;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=hhdbinstance.cejvyqrfavki.us-west-2.rds.amazonaws.com,1433;Initial Catalog=HandyBackOffice;User ID=HappyHutUser;Password=HappyHutUser</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>